/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  // font-family: Circular;
  font-size: 100px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-color: black;
}

.banner h2 {
  // font-family: Circular;
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-color: black;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.card img {
  margin:20px 0;
  width:100%;
}

.card-type-special img {
  margin:20px 0px;
  height:319px;
  width:213px;
}

.card h1 {
  font-size: 65px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: black;
}

.card h2 {
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-color: black;
  padding-bottom:10px;
}
.card p{
  font-family: montserrat;
  color:black;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

h3{
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-color: black;
  padding-bottom:10px;
}



.villa-thumbnail {
  width:100%;
  height:100%;
}
