
  <%= cl_image_tag @villa.picture %>



<h1> You just Rent this amazing Villa in <%= @villa.city %></h1>




 <u><h2>Description of your villa</h2></u>
<h3> <%= @villa.description %></h2>

<h4> <%= @villa.price %> per night</h3>




