<h1>You just made a reservation for <%= @villa.title  %></h1>

<div class="Text-center">
<h2>It is a reservation for <%= @nights%> nights</h2>

<h1>for a total price of <%= @total_price%>€</h1>

</div>

