<div id="footer">
     <center><div class = "line" id="line"></div></center>
     <div class="container">
      <div class="row" >
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href="https://www.youtube.com/?hl=FR"><i class="fa fa-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/?hl=fr"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/?lang=fr"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>

      <div class="col-xs-8 text-right">
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>
  </div>
