<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class='card_1'>
      <h1>Luxurystays</h1>
      <h2>Book unique Villa in an amazing frame.</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" >
      <%= image_tag "house.jpg" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
    <div class="card"  >
      <%= image_tag "house.jpg" %>
      </div>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    <div class="card" >
      <%= image_tag "house.jpg" %>
    </div>
  </div>
</div>
