// Your footer style
#footer {
  background: white;
  padding: 30px 0;
  color: #767676;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7em;
}
#footer p {
  margin-top: 17px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: #767676;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: yellow;

}
#line {
  padding: 0px;
  border-top: solid 1px #767676 !important;
  width: 90%;
  padding-top: 40px;
  align: center;
}
